body {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
.App {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.2)
		),
		url('./assets/img/bg.jpg') no-repeat fixed center;
	background-size: cover;
	min-height: 100vh;
	backdrop-filter: blur(5px);
}
.App-header {
	background-color: #4d2995;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
}
.App-link.active {
	color: #6a8dff;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 15px;
	row-gap: 15px;
}
